/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  width: 100%;
  height: 100vh;
  background-color: #f2f3f4;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
}

.app {
  width: 100%;
}

/* Header styles */
header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* Main styles */
/* main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 16px;
  padding: 16px;
} */

.add {
  margin: 10px auto;
  padding: 6px;
  height: 40px;
  width: 50%;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 10px;
}

.add button {
  background: inherit;
  border: none;
  width: 100%;
  color: #666;
  cursor: pointer;
}

.add button:hover {
  color: #111;
}


.notes {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

/* Note styles */
.note {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-bottom: 16px;
}

input:focus,
textarea:focus {
  outline: none;
}

.note input[type="text"],
.note textarea {
  border: none;
  font-size: 16px;
  margin-bottom: 8px;
  width: 100%;
}

.note input[type="text"] {
  font-weight: bold;
}

.note textarea {
  height: 100px;
}

.note .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note .actions button {
  background-color: #fff;
  border: none;
  color: #666;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
}

.note .actions button:hover {
  color: #000;
}